@model ElectronicStock.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div id="print">
    <h1>Details</h1>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cost)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dimensions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dimensions)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Guarantee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Guarantee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StorageConditions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StorageConditions)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <div style="width: 75px; height: 75px; ">
                    <img style='width: 100%; height: 100%; object-fit: contain;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreditAvailable)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreditAvailable)
            </dd>
        </dl>
    </div>
    <div>
        <div class="form-group createPdfBlock">
            <button onclick="createPDF()" class="btn btn-primary createPdfBlock">Print report</button>
        </div>
        <a asp-action="Edit" class="createPdfBlock" asp-route-id="@Model.ProductId">Edit</a> |
        <a asp-action="Index" class="createPdfBlock">Back to List</a>
    </div>

    <h4 class="mt-3">Categories of product</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.productCategories.First().Category)
                </th>
                <th class="createPdfBlock"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.productCategories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td class="createPdfBlock">
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h4 class="mt-3">Rows of product</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rows.First().RowNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rows.First().PlaceStartNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rows.First().Quantity)
                </th>
                <th class="createPdfBlock"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rows)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RowNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceStartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="createPdfBlock">
                    <a asp-action="Edit" asp-route-id="@item.RowId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RowId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RowId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>