@model IEnumerable<ElectronicStock.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.ProductTitle" name="title" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Cost From</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.CostFrom" name="costFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Cost To</span>
        </div>
        <input type="number" class="form-control" value="@ViewBag.CostTo" aria-label="Default" name="costTo" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Sorting</label>
        </div>
        <select class="custom-select" asp-items="ViewBag.Sort" name="sort" id="inputGroupSelect01"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search..." class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dimensions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Guarantee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StorageConditions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditAvailable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guarantee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StorageConditions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    <div style="width: 75px; height: 75px; ">
                        <img style='width: 100%; height: 100%; object-fit: contain;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditAvailable)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>