@model IEnumerable<ElectronicStock.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Cards</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopCard.ShopCardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
